.submit_button{
    width: 170px;
    height: 35px;
    border: none;
    border: 1px solid #F9F3EE;
    border-radius: 5px;
    text-align: center;
    /* vertical-align: middle; */
    /* line-height: 49px; */
    /* border-radius: 5px; */
    font-size: 15px;
    background-color: white;
    text-decoration: none; 
    color:black;
    margin-top: 15px;
}
.submit_button:hover{
    background-color: #92BA92 ;
    color:white;
    font-weight: bold;
    border-radius: 5px; 
}
.input_box{
    width: 160px;
    height: 30px;
}
.ChangePassword__container{
    margin-top: 120px;
}